NEXT_PUBLIC_SITE_URL=https://voitov.ru
CMS_API_URL=http://127.0.0.1:4000/api
NEXT_PUBLIC_CMS_API_URL=https://voitov.ru/api
CONTACT_EMAIL_TO=po4ta5343@mail.ru
CONTACT_EMAIL_FROM="Voitov Studio <site@voitov.ru>"
RESEND_API_KEY=replace_with_server_secret
NEXT_PUBLIC_GA_ID=G-PLYNZME6SN
NEXT_PUBLIC_YANDEX_METRIKA_ID=109826670
